name: Framework Java Compile

on:
  push:
    branches:
      - 'main'
      - '[0-9]+.[0-9]+.x'  # 匹配 x.x.x 格式且最后一位为 x（如 1.2.x、22.1.x）
    paths:
    - 'framework/**'
    - '!framework/python/**'
    - '!framework/elsa/**'
    - 'examples/**'
  pull_request:
    branches:
      - 'main'
      - '[0-9]+.[0-9]+.x'
    paths:
      - 'framework/**'
      - '!framework/python/**'
      - '!framework/elsa/**'
      - 'examples/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn clean install